.field-with-button {
	/* 这里可以添加一些样式来确保输入框和按钮的布局 */
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* 其他你需要的样式 */
}

.send-button {
	width: 80px;
	margin-left: 1vw;
	/* 例如，添加一些左边距 */
	margin-right: 1.5vw;
}

.goodsBox {
	height: 100px;
	margin: 10px 0;
	display: flex;
	align-items: center;
	background-color: rgb(250, 250, 250);
}

.imgBox {
	width: 28%;
	height: 100px;
	align-items: center;
}

.goodsDescBox {
	flex: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.goodsName {
	font-size: 19px;
	line-height: 40px;
}

.goodsPrice {
	align-items: center;
	line-height: 30px;
	font-size: 17px;
}

.buyBox {
	width: 28.5%;
	height: 80px;
	margin: 10px;
}

.van-tabs__nav--card {
	height: 100%;
	width: 100%;
	margin: 0;
}

.van-tabs__wrap {
	height: 7vh !important;
	width: 100%;
}

.van-field__label {
	margin-right: 0;
}

.vanTab {
	width: 100%;
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* 设置.app的高度为视口高度 */
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
}

.main {
	flex: 1;
	/* 占据剩余空间，但因为底部有固定高度的.footer，所以实际上是94%左右 */
	padding: 10px 0;
	/* 可选，根据你的需要添加内边距 */
	overflow-y: auto;
	/* 如果内容过多，允许垂直滚动 */
	background-color: rgb(255, 255, 255);
	color: #333;
	text-align: center;
	line-height: 160px;
}

.footer {
	height: 7vh;
	/* 设置固定高度为视口高度的6% */
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	/* 垂直居中 */
	justify-content: space-around;
	/* 水平均匀分布 */
}

.returnImg{
	position: relative;
	top: 8px;
}

html {  
  -webkit-text-size-adjust: 100%; /* 防止iOS调整字体大小 */  
}

body {  
  touch-action: pan-y; /* 允许页面在垂直方向上滚动 */  
}  