<!DOCTYPE html>
<html>
	<script src="./js/axios.js"></script>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>黄钻充值</title>
		<link href="./css/index.min.css" rel="stylesheet">
		<link href="./css/common.css" rel="stylesheet">
		<script src="./js/vue.min.js" rel="stylesheet" type="text/javascript"></script>
		<script src="./js/vant.min.js"></script>
		<script src="./js/md5.min.js"></script>
		<style>
			.loading-container {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 200px;
				flex-direction: column;
			}
			.loading-text {
				margin-top: 15px;
				color: #969799;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<div id="app" class="app">
			<div class="main">
				<div class="field-with-button">
					<div style="display: flex;" v-if="makeSure==false">
						<van-cell-group inset>
							<van-field v-model="got_uid" type="number" center clearable label="充值UID"
								placeholder="输入要充值的UID">
							</van-field>
						</van-cell-group>
						<van-button round plain hairline type="info" class="send-button"
							@click="makeSure=true">确定</van-button>
					</div>
					<div style="display: flex;" v-else>
						<van-cell-group inset>
							<van-field v-model="got_uid" center disabled label="已确认UID">
							</van-field>
						</van-cell-group>
						<van-button round plain hairline type="info" class="send-button"
							@click="makeSure=false">修改</van-button>
					</div>
				</div>

				<!-- 添加加载状态提示 -->
				<div v-if="loading" class="loading-container">
					<van-loading size="24px">加载中...</van-loading>
					<div class="loading-text">正在获取商品信息</div>
				</div>

				<!-- 商品列表 -->
				<div v-else>
					<div class="goodsBox" v-for="(item, index) in goods_list" :key="index">
						<div class="imgBox">
							<van-image width="76" height="66" :src="'https://hsreshjddz.0858sy.com/lucky_game/' + item.content.img" />
						</div>
						<div class="goodsDescBox">
							<div class="goodsName">{{item.name}}</div>
							<div class="goodsPrice">￥{{item.price}}</div>
						</div>
						<van-button @click="buyGoods(item)" class="buyBox" icon="cart-o" color="linear-gradient(to right, #ff6034, #ee0a24)" :disabled="isButtonDisabled" block>
							立即购买
						</van-button>
					</div>
					<div v-if="goods_list.length === 0" class="loading-container">
						<div class="loading-text">暂无商品信息</div>
					</div>
					<div v-else style="height: 60px;align-items: center;line-height: 60px;">没有更多了</div>
				</div>

				<van-popup style="width:270px; height:250px;" v-model="returnShow">
					<div style="width: 100%;height: 100%;">
						<div style="display: flex; justify-content: space-around; height: 20%; align-items: center;">
							<div style="width: 60%;margin-left: 45px;font-size: 18px;">扫码回到游戏 </div><van-icon @click="returnShow = false" name="cross" size="25" style="margin-right:14px" />
						</div>
						<div style="height: 80%;width: 100%;">
						<van-image
						  class="returnImg"
						  width="166"
						  height="166"
						  :src="returnImg"
						/>	
						</div>
					</div>
				</van-popup>
			</div>
			<footer class="footer">
				<van-tabs v-model="active" type="card" class="vanTab" color="#409EFF" @change="handleChange">
					<van-tab title="黄钻"></van-tab>
					<van-tab title="钻石"></van-tab>
					<van-tab title="房卡"></van-tab>
				</van-tabs>
			</footer>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					web: "https://jadzzweb.0858sy.com/luckyGame",
					code: "",
					autoToken: "",
					active: 0,
					red: 1,
					dia: 2,
					uid: '',
					got_uid: '',
					red_diamonds_list: [],
					diamonds_list: [],
					room_card_list: [],
					goods_list: [],
					loading: true, // 初始化为加载状态
					finished: false,
					makeSure: false,
					orderId: '',
					isButtonDisabled: false,
					returnShow: false,
					returnImg: './img/returnImgMj.png',
					device_id:"",
				},
				created() {
					this.code = this.getQueryString('code') || ""
					this.onloadData()
					// 移除这里的this.goods_list = this.red_diamonds_list
					this.loadGoodsData() // 改为调用新的加载方法
				},
				methods: {
					// 新增方法：加载商品数据
					loadGoodsData() {
						this.loading = true;
						this.onLoad().then(() => {
							// 数据加载完成后，根据当前active设置goods_list
							this.updateGoodsList();
							this.loading = false;
						}).catch(error => {
							console.error("加载商品数据失败:", error);
							this.loading = false;
						});
					},
					
					// 更新商品列表显示
					updateGoodsList() {
						if (this.active === 0) {
							this.goods_list = this.red_diamonds_list;
						} else if (this.active === 1) {
							this.goods_list = this.diamonds_list;
						} else if (this.active === 2) {
							this.goods_list = this.room_card_list;
						}
					},
					
					handleChange(index, title) {
						this.active = index;
						this.updateGoodsList();
					},
					
					buyGoods(item) {
						if (!!this.got_uid){
							this.isButtonDisabled = true
							params = {"sku":item.sku,"uid": this.uid, 'got_uid': this.got_uid}
							console.log('itemitem', params)
							this.getOrderPar(params)
						} else {
							alert('请输入uid')
						}
					},
					
					// 修改onLoad方法返回Promise
					onLoad() {
						return new Promise((resolve, reject) => {
							const typeIds = [3, 4, 5];
							const requests = [];
							
							for (let type_id of typeIds) {
								const url = `${this.web}/StoreList?type_id=${type_id}`;
								const that = this;
								requests.push(
									axios.get(url)
										.then(function(response) {
											let resData = response.data.data
											console.log(`type_id=${type_id} 返回数据:`, resData)
											
											if(resData.length > 0) {
												if(resData[0].type === 5) {
													that.red_diamonds_list = resData
												} else if(resData[0].type === 3) {
													that.diamonds_list = resData
												} else {
													that.room_card_list = resData
												}
											}
										})
										.catch(function(error) {
											console.log(error);
										})
								);
							}
							
							// 等待所有请求完成
							Promise.all(requests)
								.then(() => {
									this.finished = true;
									resolve();
								})
								.catch(error => {
									reject(error);
								});
						});
					},
					
					// 其他方法保持不变...
					isWeChatBrowser() {
						var ua = window.navigator.userAgent.toLowerCase();
						if (ua.match(/MicroMessenger/i) == 'micromessenger') {
							return true;
						} else {
							return false;
						}
					},
					
					onBridgeReady() {
						const that = this
						console.log("调用jsapi")
						WeixinJSBridge.invoke('getBrandWCPayRequest', {
							"appId": wechatdata.appId,
							"timeStamp": wechatdata.timeStamp.toString(),
							"nonceStr": wechatdata.nonceStr,
							"package": wechatdata.package,
							"signType": "RSA",
							"paySign": wechatdata.paySign
						},
						function(res) {
							console.log("微信支付返回", res)
							if (res.err_msg == "get_brand_wcpay_request:ok") {
								console.log("微信支付返回2")
								that.completeOrder()
							}
						});
					},
					
					completeOrder () {
						const that = this
						console.log("支付完成")
						let url = this.web + "/iosCompleteOrder?order_id=" + that.orderId
						axios.post(url)
							.then(function (response) {
								console.log('completeOrder', response)
								if (response.data.status == 200) { 
									that.returnShow = true
									return
								}
							})
					},
					
					getOrderPar(data) {
						console.log('充值请求', data)
						let url = this.web + "/StoreBuy";
						const that = this
						axios.post(url, data)
							.then(function (response) {
								console.log('iosPayR', response)
								if (response.data.status == 1) { //
									wechatdata = response.data.data.url
									that.orderId = response.data.data.order_id
									console.log("wechatdata", wechatdata)
									that.onBridgeReady()
								} else {
									console.log('错误')
									if (response.data.status == -18){
										alert("未找到玩家,请输入正确UID")
									} else {
										let message = '订单已经支付过，请重新下单'
										alert(message)
									}
								}
								that.isButtonDisabled = false
							})
							.catch(function (error) {
								that.isButtonDisabled = false
								console.log(error);
							});
					},
					
					getUserInfo() {
						
						const userAgent = navigator.userAgent; // 用户代理字符串
						const screenWidth = screen.width; // 屏幕宽度
						const screenHeight = screen.height; // 屏幕高度
						const language = navigator.language; // 浏览器语言
						const timezoneOffset = new Date().getTimezoneOffset(); // 时区偏移
						const hardwareConcurrency = navigator.hardwareConcurrency || 'unknown'; // CPU逻辑核心数
						
						    const fingerprintData = `${userAgent}|${screenWidth}|${screenHeight}|${language}|${timezoneOffset}|${hardwareConcurrency}`;
						
						    // 使用Base64编码（注意：这只是一个简单哈希，并非强唯一性）
						    try {
						        this.device_id = btoa(unescape(encodeURIComponent(fingerprintData)));
						    } catch (e) {
						        console.error("编码设备指纹时出错:", e);
						    }
						let url = this.web + "/LoginByWechat";
						let dat = {
							code: this.code,
							device_id: this.device_id,
						};
						let data = this.getSignParam(dat)
						console.log("userInfoUrl", url)
						console.log("dat_data", data)
						console.log("postUrl", url + data)
						
						axios.post(url, data).then(res => {
								console.log("response", res)
								var that = this
								if (res.data.status == 1) {
									console.log("success", res)
									let res_autoToken = res.data.data.autoToken
									let res_uid = res.data.data.uid;
									that.autoToken = res_autoToken
									that.uid = res_uid
									localStorage.setItem("lobby.user.pay_uid", res.data.data.uid)
									console.log("支付UID", that.uid)
									console.log("storageUid", localStorage.getItem("lobby.user.pay_uid"))
								} else if (res.data.status == -101) {
									//this.wxLogin()
								} else {
									console.log("登录请求为获取到正确信息", res)
								}
								console.log("登录成功", res);
							})
							.catch(error => {
								console.log("登录未获取信息", error);
							});
					},
					
					onloadData() {
						if (this.isWeChatBrowser()) {
							console.log("登录", this.code)
							console.log("window.location.search", window.location.search)
							
							if (!!this.code) {
								console.log('登录回来的', this.code)
								this.getUserInfo()
								return;
							} else if (!!this.autoToken) {
								console.log('登录回来的', this.autoToken)
								this.getUserInfo()
								return;
							} else {
								console.log("没code，进行授权")
								this.wxLogin()
							}
						}
					},
					
					wxLogin() {
						// 清理当前URL的哈希片段，作为最终的回调地址
						let dat = window.location.href;
						dat = dat.replace(new RegExp("\\#/", "g"), "");
						console.log("清理后的回调地址:", dat);
						const appID = "wx0e6adb8a102cfdbf";
						dat = `${dat}?appid=${appID}`
						this.getWechatAuthCode(dat);
						// 开始构建重定向至微信授权页面的URL（模仿getRedirectUri逻辑）

					},
					getWechatAuthCode(redirectUrl) {
					    // 接口基础信息
					    const apiPath = this.web + "/GetWechatCode"; // 接口路径
					    
					    // 构建完整URL（GET请求使用查询参数）
					    const fullUrl = `${apiPath}?redirect_url=${encodeURIComponent(redirectUrl)}`;
					    
					    console.log("请求URL:", fullUrl);
					    
					    // 使用axios发起GET请求
					    return axios.get(fullUrl)
					        .then(response => {
					            console.log("微信授权接口响应:", response);
					            return response.data; // 返回接口响应数据
					        })
					        .catch(error => {
					            console.error("请求微信授权接口失败:", error);
					            throw error; // 抛出错误供上层处理
					        });
					},
					getQueryString(name) {
						if (!window.location || !window.location.search)
							return null;
						var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
						var r = (decodeURIComponent(window.location.search)).substr(1).match(reg);
						if (r != null)
							return r[2];
					},
					
					getSignParam(dat) {
						let param = {
							uid: this.uid,
							gameId: 1,
							platform: 3,
							channelId: 3,
							ver: 1.0,
							time: Date.now(),
							params: JSON.stringify(dat)
						}
						let keys = []
						for (let key in param) {
							keys.push(key)
						}
						keys.sort((s, t) => {
							let a = s.toLowerCase();
							let b = t.toLowerCase();
							if (a < b) return -1;
							if (a > b) return 1;
							return 0;
						})
					
						let datas = []
						for (let i = 0, len = keys.length; i < len; i++) {
							datas.push(`${keys[i]}=${escape(param[keys[i]])}`)
						}
					
						let idx = datas.push("key=5215daa514743a6b460cbd15ee89cc747")
						let TokenIdx = -1
						if (this.token) {
							TokenIdx = datas.push("token=" + this.token)
						}
						let urlParam = datas.join("&")
						let sign = ""
						sign = md5(urlParam)
						if (this.token) {
							datas.splice(TokenIdx - 1, 1)
						}
						datas.splice(idx - 1, 1)
						datas.push("sign=" + sign)
						return datas.join("&")
					},
				}
			})
		</script>
	</body>
</html>