<!DOCTYPE html>
<html>
	<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
	<script src="./js/axios.js"></script>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>黄钻充值</title>
		<link href="./css/index.min.css" rel="stylesheet">
		<link href="./css/common.css" rel="stylesheet">
		<script src="./js/vue.min.js" rel="stylesheet" type="text/javascript"></script>
		<script src="./js/vant.min.js"></script>
		<script src="./js/md5.min.js"></script>
	</head>
	<body>
		<div id="app" class="app">
			<div class="main">
				<div class="field-with-button">
					<div style="display: flex;" v-if="makeSure==false">
						<van-cell-group inset>
							<van-field v-model="got_uid" type="number" center clearable label="充值UID"
								placeholder="输入要充值的UID">
							</van-field>
						</van-cell-group>
						<van-button round plain hairline type="info" class="send-button"
							@click="makeSure=true">确定</van-button>
					</div>
					<div style="display: flex;" v-else>
						<van-cell-group inset>
							<van-field v-model="got_uid" center disabled label="已确认UID">
							</van-field>
						</van-cell-group>
						<van-button round plain hairline type="info" class="send-button"
							@click="makeSure=false">修改</van-button>
					</div>


				</div>
				<div class="goodsBox" v-for="item, index in goods_list" :key="index">
					<div class="imgBox">
						<van-image width="55" height="55" :src="'https://start.0859qx.com/' + item.img_url" />
					</div>
					<div class="goodsDescBox">
						<div class="goodsName">{{item.item_name}}</div>
						<div class="goodsPrice">￥{{item.price}}</div>
					</div>
					<van-button @click="buyGoods(item)" class="buyBox" icon="cart-o" color="linear-gradient(to right, #ff6034, #ee0a24)" :disabled="isButtonDisabled" block>
						立即购买
					</van-button>
				</div>
				<div style="height: 60px;align-items: center;line-height: 60px;">没有更多了</div>
				<van-popup style="width:270px; height:250px;" v-model="returnShow">
					<div style="width: 100%;height: 100%;">
						<div style="display: flex; justify-content: space-around; height: 20%; align-items: center;">
							<div style="width: 60%;margin-left: 45px;font-size: 18px;">扫码回到游戏 </div><van-icon @click="returnShow = false" name="cross" size="25" style="margin-right:14px" />
						</div>
						<div style="height: 80%;width: 100%;">
						<van-image
						  class="returnImg"
						  width="166"
						  height="166"
						  :src=returnImg
						/>	
						</div>
					</div>
				</van-popup>
			</div>
			<footer class="footer">
				<van-tabs v-model="active" type="card" class="vanTab" color="#409EFF" @change="handleChange">
					<van-tab title="黄钻"></van-tab>
					<van-tab title="钻石"></van-tab>
				</van-tabs>
			</footer>
		</div>
	</body>
</html>

<script>
	new Vue({
		el: '#app',
		data: {
			web: "https://hjmjweb.0858sy.com",
			code: "",
			autoToken: "",
			active: 0,
			red: 1,
			dia: 2,
			uid: '',
			got_uid: '',
			red_diamonds_list: [],
			diamonds_list: [],
			goods_list: [],
			loading: false,
			finished: false,
			makeSure: false,
			orderId: '',
			isButtonDisabled: false,
			returnShow: false,
			returnImg: './img/returnImgMj.png',
		},
		created() {
			this.code = this.getQueryString('code') || ""
			this.onloadData()
			this.onLoad()
			this.goods_list = this.red_diamonds_list
		},
		methods: {
			handleChange(index, title) {
				// 0-红钻, 1-钻石
				const that = this
				if (index === 1) this.goods_list = this.diamonds_list
				if (index === 0) this.goods_list = this.red_diamonds_list
			},
			buyGoods(item) {
				if (!!this.got_uid){
					this.isButtonDisabled = true
					params = {"item_id":item.item_id,"charge_type":5,"uid": this.uid, 'got_uid': this.got_uid}
					console.log('itemitem', params)
					this.getOrderPar(params)
				} else {
					alert('请输入uid')
				}
			},
			onLoad() {
				const url = this.web + "/getAllStoreItemTest"
				const that = this
				axios.get(url).then()
					.then(function(response) {
						let resData = response.data.data
						resData.forEach((currValue, index) => {
							const d_goods_list = []
							if (currValue.store_type === 5) {
								that.red_diamonds_list = currValue.goods_list
							}
							if (currValue.store_type === 1) {
								currValue.goods_list.forEach((goodsValue, index) => {
									// goodsValue.price是一个字符串
									let priceAsNumber = parseFloat(goodsValue.price);
									// 检查是否成功转换为数字  
									if (!isNaN(priceAsNumber)) {
										// 使用toFixed()方法保留两位小数，并返回字符串表示形式  
										// goodsValue.price = priceAsNumber.toFixed(2);  
										goodsValue.price = priceAsNumber;
									}
									if (goodsValue.show_sy) {
										d_goods_list.push(goodsValue)
									}
								})
								that.diamonds_list = d_goods_list
							}
						})
						if (that.active == 0) {
							that.goods_list = that.red_diamonds_list
						} else {
							that.goods_list = that.diamonds_list
						}
					})
					.catch(function(error) {
						console.log(error);
					});

				this.loading = false;
				this.finished = true;
			},
			isWeChatBrowser() {
				//window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
				var ua = window.navigator.userAgent.toLowerCase();
				//通过正则表达式匹配ua中是否含有MicroMessenger字符串
				if (ua.match(/MicroMessenger/i) == 'micromessenger') {
					return true;
				} else {
					return false;
				}
			},
			getRedirectUri202306() {
				let url = "https://start.0859qx.com/hjmj/payH5_gzh/index.html"
				const AuthApi = this.web + "/getWeChatLastUrl?redirect_url=";
				const WXAuthURL = `https://open.weixin.qq.com/connect/oauth2/authorize`;
				const GetCode = `http://webtx.0858sy.com/static/wechatLogin2/getCode.html?redirect_uri=$GAME_URL$`;
				console.log('url', url)
				let REDIRECT_URL = encodeURIComponent(GetCode.replace("$GAME_URL$", encodeURIComponent(url)));
				console.log('REDIRECT_URL', REDIRECT_URL)
				const authParams = {
					appid: "wx270b8c9854f194d1",
					redirect_uri: REDIRECT_URL,
					response_type: "code",
					scope: "snsapi_userinfo",
					state: "STATE",
				};
				let url1 = this.queryString(authParams);
				let weChatUrl = `${WXAuthURL}${url1}#wechat_redirect`;
				let authUrl = `${AuthApi}${encodeURIComponent(weChatUrl)}`;
				console.log("结果==>", authUrl);
				window.location.href = authUrl
			},
			queryString(params) {
				if (!params)
					return "";
				if (!Object.keys(params).length)
					return "";
				let paramsData = "?";
				for (let key in params) {
					paramsData += key + "=" + params[key] + "&";
				}
				paramsData = paramsData.substring(0, paramsData.length - 1);
				return paramsData;
			},
			// accountBack (item) {
			// 	const that = this
			// 	let url = this.web + "/iosGotGoodsUid?uid=" + this.uid + "&code=" + this.code
			// 	axios.post(url)
			// 	    .then(function (response) {
			// 			console.log('accountBack', response)
			// 			if (response.data.status == 200) { 
			// 				console.log('授权成功')
			// 				params = {"item_id":item.item_id,"charge_type":5,"uid":that.uid}
			// 				console.log('itemitem', params)
			// 				that.getOrderPar(params)
			// 			}
			// 		})
			// },
			onBridgeReady() {
				const that = this
				console.log("调用jsapi")
			    WeixinJSBridge.invoke('getBrandWCPayRequest', {
			        "appId": wechatdata.appId,     //公众号ID，由商户传入     
			        "timeStamp": wechatdata.timeStamp.toString(),     //时间戳，自1970年以来的秒数     
			        "nonceStr": wechatdata.nonceStr,      //随机串
			        "package": wechatdata.package,
			        "signType": "RSA",     //微信签名方式：     
			        "paySign": wechatdata.paySign //微信签名 
			    },
			    function(res) {
					console.log("微信支付返回", res)
			        if (res.err_msg == "get_brand_wcpay_request:ok") {
						console.log("微信支付返回2")
						that.completeOrder()
			            // 使用以上方式判断前端返回,微信团队郑重提示：
			            //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
			        }
			    });
			},
			completeOrder () {
				const that = this
				console.log("支付完成")
				let url = this.web + "/iosCompleteOrder?order_id=" + that.orderId
				axios.post(url)
				    .then(function (response) {
						console.log('completeOrder', response)
						if (response.data.status == 200) { 
							that.returnShow = true
							return
						}
					})
			},
			getOrderPar(data) {
				console.log('充值请求', data)
				let url = this.web + "/iosPayNew";
				const that = this
				axios.post(url, data)
				    .then(function (response) {
						console.log('iosPayR', response)
				        if (response.data.status == 1) { //
							wechatdata = response.data.data.url
							that.orderId = response.data.data.order_id
							console.log("wechatdata", wechatdata)
							that.onBridgeReady()
				        } else {
				           console.log('错误')
						   if (response.data.status == -18){
							   alert("未找到玩家,请输入正确UID")
						   } else {
							   let message = '订单已经支付过，请重新下单'
							   alert(message)
						   }
				        }
						that.isButtonDisabled = false
				    })
				    .catch(function (error) {
						that.isButtonDisabled = false
				        console.log(error);
				    });
			},
			getUserInfo() { // code获取token
				let url = this.web + "/wechatLoginNew";
				let dat = {
					code: this.code,
					autoToken: this.autoToken,
					channel_code: this.channel_code ? this.channel_code : 0,
					channel_code_type: 1
				};
				let data = this.getSignParam(dat)
				console.log("userInfoUrl", url)
				console.log("dat_data", data)
				console.log("postUrl", url + data)
				// debugger
				axios.post(url, data).then(res => {
						console.log("response", res)
						var that = this
						if (res.data.status == 1) {
							console.log("success", res)
							let res_autoToken = res.data.data.autoToken
							let res_uid = res.data.data.uid;
							that.autoToken = res_autoToken
							that.uid = res_uid
							// localStorage.setItem("lobby.user.token", res.data.data.token)
							// localStorage.setItem("lobby.user.autoToken", res.data.data.autoToken)
							localStorage.setItem("lobby.user.pay_uid", res.data.data.uid)
							console.log("支付UID", that.uid)
							console.log("storageUid", localStorage.getItem("lobby.user.pay_uid"))
							// that.got_uid = res_uid
							// that.getData()
						} else if (res.data.status == -101) {
							this.wxLogin()
						} else {
							console.log("登录请求为获取到正确信息", res)
							// weui.topTips('系统错误', 2000);
						}
						console.log("登录成功", res);
						// debugger
					})
					.catch(error => {
						// weui.topTips('请求错误,请重新尝试', 2000);
						console.log("登录未获取信息", error);
					});
			},
			onloadData() {
				if (this.isWeChatBrowser()) {
					console.log("登录", this.code)
					console.log("window.location.search", window.location.search)
					// debugger
					if (!!this.code) { // 如果有code 说明是微信登录后回来的  去请求token
						console.log('登录回来的', this.code)
						this.getUserInfo()
						return;
					} else if (!!this.autoToken) {
						console.log('登录回来的', this.autoToken)
						this.getUserInfo()
						retturn;
					}else {
						console.log("没code，进行授权")
						// this.getRedirectUri202306()
						this.wxLogin()
						
					}
				}
			},
			wxLogin() { // 微信登录获取code
							// debugger
							let dat = window.location.href;
							console.log("old_dat", dat)
							dat = dat.replace(new RegExp("\\#/", "g"), "");
							console.log("new_dat", dat)
							let url = "/getWeChatAuthUrl";
							console.log("uurrll", this.web + url + '?redirect_url=' + encodeURIComponent(dat))
							window.location.href = this.web + url + '?redirect_url=' + encodeURIComponent(dat)
						},
			getQueryString(name) { // 根据指定参数返回url 的参数值
				if (!window.location || !window.location.search)
					return null;
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = (decodeURIComponent(window.location.search)).substr(1).match(reg);
				// console.log(r)
				if (r != null)
					return r[2];
			},
			getSignParam(dat) {
				let param = {
					uid: this.uid,
					gameId: 1,
					platform: 3, // 1为ios，2为android
					channelId: 3, // 游戏渠道
					ver: 1.0, // 游戏版本
					time: Date.now(), // 当前时间戳
					params: JSON.stringify(dat)
				}
				let keys = []
				for (let key in param) {
					keys.push(key)
				}
				keys.sort((s, t) => {
					let a = s.toLowerCase();
					let b = t.toLowerCase();
					if (a < b) return -1;
					if (a > b) return 1;
					return 0;
				})
			
				let datas = []
				for (let i = 0, len = keys.length; i < len; i++) {
					datas.push(`${keys[i]}=${escape(param[keys[i]])}`)
				}
			
				let idx = datas.push("key=5215daa514743a6b460cbd15ee89cc747")
				let TokenIdx = -1
				if (this.token) {
					TokenIdx = datas.push("token=" + this.token)
				}
				let urlParam = datas.join("&")
				let sign = "" // 加密串
				sign = md5(urlParam)
				if (this.token) {
					datas.splice(TokenIdx - 1, 1)
				}
				datas.splice(idx - 1, 1)
				datas.push("sign=" + sign)
				return datas.join("&")
			},
		}
	})
</script>
<script>
	// 弹出框隐藏网址
	window.alert = function(msg, callback) {
		var div = document.createElement("div");
		div.innerHTML = "<style type=\"text/css\">"
				+ ".nbaMask { position: fixed; z-index: 1000; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }                                                                                                                                                                       "
				+ ".nbaMaskTransparent { position: fixed; z-index: 1000; top: 0; right: 0; left: 0; bottom: 0; }                                                                                                                                                                                            "
				+ ".nbaDialog { position: fixed; z-index: 5000; width: 80%; max-width: 300px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; text-align: center; border-radius: 8px; overflow: hidden; opacity: 1; color: white; }"
				+ ".nbaDialog .nbaDialogHd { padding: .2rem .27rem .08rem .27rem; }                                                                                                                                                                                                                         "
				+ ".nbaDialog .nbaDialogHd .nbaDialogTitle { font-size: 17px; font-weight: 400; }                                                                                                                                                                                                           "
				+ ".nbaDialog .nbaDialogBd { padding: 0 .27rem; font-size: 15px; line-height: 4.3; word-wrap: break-word; word-break: break-all; color: #000000; }                                                                                                                                          "
				+ ".nbaDialog .nbaDialogFt { position: relative; line-height: 48px; font-size: 17px; display: -webkit-box; display: -webkit-flex; display: flex; }                                                                                                                                          "
				+ ".nbaDialog .nbaDialogFt:after { content: \" \"; position: absolute; left: 0; top: 0; right: 0; height: 1px; border-top: 1px solid #e6e6e6; color: #e6e6e6; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }               "
				+ ".nbaDialog .nbaDialogBtn { display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; color: #09BB07; text-decoration: none; -webkit-tap-highlight-color: transparent; position: relative; margin-bottom: 0; }                                                                       "
				+ ".nbaDialog .nbaDialogBtn:after { content: \" \"; position: absolute; left: 0; top: 0; width: 1px; bottom: 0; border-left: 1px solid #e6e6e6; color: #e6e6e6; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }             "
				+ ".nbaDialog a { text-decoration: none; -webkit-tap-highlight-color: transparent; }"
				+ "</style>"
				+ "<div id=\"dialogs2\" style=\"display: none\">"
				+ "<div class=\"nbaMask\"></div>"
				+ "<div class=\"nbaDialog\">"
				+ "	<div class=\"nbaDialogHd\">"
				+ "		<strong class=\"nbaDialogTitle\"></strong>"
				+ "	</div>"
				+ "	<div class=\"nbaDialogBd\" id=\"dialog_msg2\">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>"
				+ "	<div class=\"nbaDialogHd\">"
				+ "		<strong class=\"nbaDialogTitle\"></strong>"
				+ "	</div>"
				+ "	<div class=\"nbaDialogFt\">"
				+ "		<a href=\"javascript:;\" class=\"nbaDialogBtn nbaDialogBtnPrimary\" id=\"dialog_ok2\">确定</a>"
				+ "	</div></div></div>";
		document.body.appendChild(div);
	 
		var dialogs2 = document.getElementById("dialogs2");
		dialogs2.style.display = 'block';
	 
		var dialog_msg2 = document.getElementById("dialog_msg2");
		dialog_msg2.innerHTML = msg;
	 
		// var dialog_cancel = document.getElementById("dialog_cancel");
		// dialog_cancel.onclick = function() {
		// dialogs2.style.display = 'none';
		// };
		var dialog_ok2 = document.getElementById("dialog_ok2");
		dialog_ok2.onclick = function() {
			dialogs2.style.display = 'none';
			callback();
		};
	};
</script>